In [1]:
import pandas as pd
import numpy as np

In [5]:
btc = pd.read_csv('./dataset/Crypto/bitcoin_transactions.csv')
eth = pd.read_csv('./dataset/Crypto/ethereum_transactions.csv')

In [6]:
btc['log'] = np.log(btc['transactions_bitcoin'])
btc['log_diff'] = btc['log'].diff()
btc = btc.dropna()
btc.head()

         date  transactions_bitcoin        log  log_diff
1  2015-08-08                101512  11.527932 -0.092456
2  2015-08-09                 90534  11.413481 -0.114452
3  2015-08-10                116841  11.668569  0.255089
4  2015-08-11                114741  11.650433 -0.018137
5  2015-08-12                117898  11.677575  0.027142

In [8]:
eth['log'] = np.log(eth['transactions_ethereum'])
eth['log_diff'] = eth['log'].diff()
eth = eth.dropna()
eth.head()

         date  transactions_ethereum       log  log_diff
1  2015-08-08                   2881  7.965893  0.340298
2  2015-08-09                   1329  7.192182 -0.773711
3  2015-08-10                   2037  7.619233  0.427051
4  2015-08-11                   4963  8.509766  0.890532
5  2015-08-12                   2036  7.618742 -0.891023

In [10]:
btc = btc[['date', 'log_diff']]
btc.head()

         date  log_diff
1  2015-08-08 -0.092456
2  2015-08-09 -0.114452
3  2015-08-10  0.255089
4  2015-08-11 -0.018137
5  2015-08-12  0.027142

In [11]:
eth = eth[['date', 'log_diff']]
eth.head()

         date  log_diff
1  2015-08-08  0.340298
2  2015-08-09 -0.773711
3  2015-08-10  0.427051
4  2015-08-11  0.890532
5  2015-08-12 -0.891023

In [12]:
btc.to_csv('./dataset/Crypto/bitcoin_log_diff.csv', index=False)
eth.to_csv('./dataset/Crypto/ethereum_log_diff.csv', index=False)